
[is="csp-action-link"] {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: none;
  margin: 0 auto;

  #button-top {
    position: absolute;
    top: 0%;
    left: 8%;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: rgb(208, 50, 8);
    transition: transform 0.1s;
  }

  #button-body {
    position: absolute;
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background-color: rgb(154, 38, 7);
  }

  #button-bottom {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
  }

  #button-bottom-2 {
    position: absolute;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
  }

  &:hover {
    #button-top {
      transform: translateY(1%);
    }
  }
}
