<div class="recipe-head">
  <div class="recipe-img"></div>
  <div class="recipe-info">
    <h2>Pasta Carbonara</h2>
    <span class="tagline">– Passar perfekt med en flaska rödtjut!</span>
  </div>
</div>
<div class="recipe-container">
  <div class="ingredients">
    <ul>
      <li>400g Spaghetti</li>
      <li>4 ägg</li>
      <li>2 dl grädde</li>
      <li>1 paket bacon</li>
      <li>1 lök</li>
      <li>Salt</li>
      <li class="last">Peppar</li>
    </ul>
  </div>
  <div class="instructions">
    <ol>
      <li>Skär bacon i strimlor och finhacka löken.</li>
      <li>Koka upp vatten med salt och släng sedan i pastan.</li>
      <li>Stek baconet & löken gyllenbrun, blanda sedan i grädden & äggvitan. Smaksätt med salt & peppar.</li>
      <li class="last">Blanda ihop allting och servera med de kvarvarande äggulorna på.</li>
    </ol>
  </div>
</div>
